<section class="admin-panel">
   <div class="left-side">
      <section class="hero-container">
         <p class="lead text-light bg-secondary px-3 py-1 mb-5">JTE Administrator</p>
         <div><span class="fa fa-qrcode text-light"></span></div>
         <div class="mt-5 text-light powered-by">Login System Powered by M&Delta;S&Delta;N-&Delta;I
         </div>
      </section>
   </div>
   <div class="right-side">
      <div class="big-container">
         {{> _messages}}
         <div class="container" id="container">
            <div class="form-container sign-up-container">
               <form action="/admin/register" method="post">
                  <h1>Sign Up</h1>
                  <div class="social-container">
                     <a href="#" class="social"><span class="fab fa-facebook-f"></span></a>
                     <a href="#" class="social"><span class="fab fa-google-plus-g"></span></a>
                     <a href="#" class="social"><span class="fab fa-linkedin-in"></span></a>
                  </div>
                  <span class="other-opt">or use your email for registration</span>
                  <input type="text" name='name' placeholder="Enter name..." value="{{name}}"
                     required />
                  <input type="email" name='email' placeholder="Enter email..." value="{{email}}"
                     required />
                  <input type="password" name='password' placeholder="Enter password..."
                     value="{{password}}" required />
                  <input type="password" name='password2' placeholder="Confirm password..."
                     value="{{password2}}" required />
                  <input type="submit" value="Sign Up">
               </form>
            </div>
            <div class="form-container sign-in-container">
               <form action="/admin" method="post">
                  <h1>Sign In</h1>
                  <div class="social-container">
                     <a href="#" class="social"><span class="fab fa-facebook-f"></span></a>
                     <a href="#" class="social"><span class="fab fa-google-plus-g"></span></a>
                     <a href="#" class="social"><span class="fab fa-linkedin-in"></span></a>
                  </div>
                  <span class="other-opt">or use your account</span>
                  <input type="email" name="email" placeholder="Email goes here..."
                     value="{{email}}" required />
                  <input type="password" name="password" placeholder="Password goes here..."
                     required />
                  <a href="#">Forgot your password?</a>
                  <input type="submit" value="Sign In">
               </form>
            </div>
            <div class="overlay-container">
               <div class="overlay">
                  <div class="overlay-panel overlay-left">
                     <h2>Welcome Back!</h2>
                     <p> To keep connected with us please login with your personal info </p>
                     <button class="ghost" id="signIn">Sign In</button>
                  </div>
                  <div class="overlay-panel overlay-right">
                     <h2>Hello, Friends!</h2>
                     <p>Enter your personal details and start your journey with us</p>
                     <button class="ghost" id="signUp">Sign Up</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>